html {
    font-size: 16px;
}

main { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-item {
    margin-bottom: 30px;
}

#search-bar {
    width: 485px;
    height: 42px;
    outline: none;
    border: solid lightgray 1px;
    border-radius: 25px;
    background: url(search-bar-icon.svg) no-repeat 13px 50%, url(mic-icon.svg) no-repeat  97% 50%;
    padding-right: 50px;
    padding-left: 45px;
    font-size: 1rem;
}

@media (max-width: 768px) {
    #search-bar {
        width: 75vw;
    }
}

#search-bar:hover {
    box-shadow: -0.5px 1px 4px rgb(190, 190, 190);
}

#search-buttons {
    display: flex;
    justify-content: center;
}

#search-buttons input {
    border: solid 1px #f2f2f2;
    margin: 0 7px;
    padding: 9px 15px;
    font-size: 0.9rem;
    color: #5f6378;
    background-color: #f2f2f2;
    border-radius: 5px;
}

#search-buttons input:hover {
    background-color: rgb(246, 246, 246);
    border: solid 1px rgb(206, 206, 206);
    color: black;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0px;
    margin-bottom: 8%;
}

nav a {
    text-decoration: none;
    color: rgb(63, 63, 63);
    font-size: 0.83rem;
    font-family: Arial;
}

nav a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    display: flex;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 0px;
    margin-top: 13px;
}

ul li {
    margin: 0 8px;
}

#apps-button {
    border: none;
    background: none;
    position: relative;
    bottom: 3px;
    padding: 0;
}

#apps-button svg {
    fill: rgb(117, 117, 117);
}

#apps-button svg:hover {
    fill: black;
    cursor: pointer;
}

#sign-in {
    background-color: rgb(69, 130, 235); 
    font-weight: bolder;
    padding: 6px 13px;
    border-radius: 2px;
    position: relative;
    bottom: 6px;
}

#sign-in:active {
    background-color: rgb(60, 114, 207); 
}

#sign-in a {
    color: white;
    text-decoration: none;
    cursor: default;
}

footer {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 0;    
    background-color: #f2f2f2;
    border: solid 1px #e4e4e4;
}

@media (max-width: 566px) {
    footer {
        height: 88px;
        justify-content: center;
    }
}

footer ul {
    padding: 0 1%;
}

footer a {
    font-family: Arial;
    font-size: 0.9rem;
    color: #5f6378;
    text-decoration: none;
    padding: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}